html, body {
    margin: 0;
    height: 100%
}

nav{
    position: fixed;
    z-index: 100;
}

div#sidebar {
    position: absolute;
    width: 230px;
    top: 0;
    left: 0;
    padding-top:  56px;
    min-height: 100%;
    z-index: 99;
}

div#content {
    background-color: #fbfbff;
    margin-left: 230px;
    padding-top: 10px;
    /* min-height: 1000px; */
}