<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Final Forms - Home</title>
</head>

<body>
    <div id="app">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <a class="navbar-brand" href="#">BrandLogo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-bind:class="{ active: whosActive=='form'}">
                        <a class="nav-link" href="#" @click="redirect('form')">Forms</a>
                    </li>
                    <li class="nav-item" v-bind:class="{ active: whosActive=='doc'}">
                        <a class="nav-link" href="#" @click="redirect('doc')">Document</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="w-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#myModal">Add
                            Form</button>
                    </div>
                    <br />

                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Create New Form</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="col-sm-12">
                            <button class="btn btn-outline-primary btn-block" @click="addRow">Add row</button>
                        </div>
                        <br />

                        <div class="input-group mb-3 col-sm-12" v-for="(input, index) in inputs">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="d-none d-sm-block">Column Name</span> {{ index + 1 }}.</span>
                            </div>
                            <input type="text" class="form-control" placeholder="" aria-label="Place Holder"
                                aria-describedby="basic-addon2" v-model="input.fieldName">
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger" type="button" @click="deleteRow(index)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                whosActive: 'form',
                inputs: [
                    {
                        'fieldName': '',
                    }
                ]
            },

            methods: {
                addRow() {
                    this.inputs.push({
                        fieldName: ''
                    })
                },
                deleteRow(index) {
                    this.inputs.splice(index, 1)
                },
                redirect(target) {
                    alert('go to ' + target)
                } 
            }
        });
    </script>
</body>

</html>