<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Final Forms - Home</title>
</head>

<body>
    <div id="app">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <a class="navbar-brand" href="#">BrandLogo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-bind:class="{ active: whosActive=='form'}">
                        <a class="nav-link" href="#">Forms</a>
                    </li>
                    <li class="nav-item" v-bind:class="{ active: whosActive=='doc'}">
                        <a class="nav-link" href="#">Document</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="w-100">
            <div class="container">
                <!-- <form>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                </form> -->

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-dark btn-block" @click="addRow">Add row</button>
                    </div>
                    <br />
                    <br />

                    <div class="input-group mb-3 col-sm-12" v-for="(input, index) in inputs">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Column Name {{ index + 1 }}.</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="Place Holder"
                            aria-describedby="basic-addon2" v-model="input.fieldName">
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button" @click="deleteRow(index)">Delete</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                whosActive: 'form',
                inputs: [
                    {
                        'fieldName': '',
                    }
                ]
            },

            methods: {
                addRow() {
                    this.inputs.push({
                        fieldName: ''
                    })
                },
                deleteRow(index) {
                    this.inputs.splice(index, 1)
                }
            }
        });
    </script>
</body>

</html>